{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #soap-grid {
    display: grid;
  }

  #soap-grid p,
  #soap-grid li {
    font: 400 16px / 1.5 Indivisible
    , Helvtica
    , Arial
    , sans-serif !important;
  }

  #soap-grid #block-1 {
    display: none;
    background-color: #ded2c6;
  }

  #soap-grid .col-label {
    border-right: 1px solid #ded2c6;
  }

  #soap-grid .grid-item {
    padding: 1.5rem 1rem;
  }

  #soap-grid .grid-item h4,
  #soap-grid .grid-item h4 {
    margin: 0;
  }

  #soap-grid .grid-item p,
  #soap-grid .grid-item ul {
    margin-top: 0;
  }

  #soap-grid .table-head {
    grid-column: span 2;
    background-color: #ded2c6;
    margin-top: 3rem;
    text-align: center;
  }

  #soap-grid #block-2 {
    margin-top: 0;
  }

  @media screen and (min-width: 1000px) {
    #soap-grid {
      grid-template-columns: auto repeat(4, 1fr);
    }

    #soap-grid #block-1 {
      display: block;
      order: 1;
    }

    #soap-grid .table-head {
      grid-column: span 1;
      margin: 0;
    }

    #soap-grid .secondary {
      display: none;
    }

    #soap-grid #block-2 {
      order: 2;
    }
    #soap-grid #block-3 {
      order: 3;
    }
    #soap-grid #block-4 {
      order: 4;
    }
    #soap-grid #block-5 {
      order: 5;
    }
    #soap-grid #block-6 {
      order: 6;
    }
    #soap-grid #block-7 {
      order: 7;
    }
    #soap-grid #block-8 {
      order: 8;
    }
    #soap-grid #block-9 {
      order: 9;
    }
    #soap-grid #block-10 {
      order: 10;
    }
    #soap-grid #block-11 {
      order: 11;
    }
    #soap-grid #block-12 {
      order: 12;
    }
    #soap-grid #block-13 {
      order: 13;
    }
    #soap-grid #block-14 {
      order: 14;
    }
    #soap-grid #block-15 {
      order: 15;
    }
    #soap-grid #block-16 {
      order: 16;
    }
    #soap-grid #block-17 {
      order: 17;
    }
    #soap-grid #block-18 {
      order: 18;
    }
    #soap-grid #block-19 {
      order: 19;
    }
    #soap-grid #block-20 {
      order: 20;
    }
  }
{%- endstyle -%}

<div class="page-width section-page-title section-{{ section.id }}-padding" style="background-color:{{ section.settings.background_colour }};">
  <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
  <h3 style="text-align:center;">Aleppo solid soap is suitable for all skin types.</h3>
  <div class="section-{{ section.id }}-padding" style="background-color:{{ section.settings.background_colour }};">
    <div class="page-width">

      <div id="soap-grid">
        <div id="block-1"></div>
        <div class="grid-item table-head" id="block-2">
          <h4>Aleppo Soap 12% Laurel oil</h4>
        </div>
        <div class="grid-item col-label primary" id="block-6">
          <h4>Your Skin Type</h4>
        </div>
        <div class="grid-item col-value" id="block-7">
          <p>Normal and/or sensitive skin</p>
        </div>
        <div class="grid-item col-label primary" id="block-11">
          <h4>Property</h4>
        </div>
        <div class="grid-item col-value" id="block-12">
          <p>Natural ingredients, the most economical</p>
        </div>
        <div class="grid-item col-label primary" id="block-16">
          <h4>Use</h4>
        </div>
        <div class="grid-item col-value" id="block-17">
          <ul>
            <li>Daily care</li>
            <li>Hydration</li>
            <li>Basic antiseptic</li>
          </ul>
        </div>

        <div class="grid-item table-head" id="block-3">
          <h4>Aleppo Soap 20% Laurel oil</h4>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Your Skin Type</h4>
        </div>
        <div class="grid-item col-value" id="block-8">
          <p>Delicate skin</p>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Property</h4>
        </div>
        <div class="grid-item col-value" id="block-13">
          <p>Laurel oil content (prevents redness and irritation)</p>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Use</h4>
        </div>
        <div class="grid-item col-value" id="block-18">
          <ul>
            <li>Daily care</li>
            <li>Hydration</li>
            <li>Active hydro-liquid protection</li>
          </ul>
        </div>

        <div class="grid-item table-head" id="block-4">
          <h4>Aleppo Soap 35% Laurel oil</h4>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Your Skin Type</h4>
        </div>
        <div class="grid-item col-value" id="block-9">
          <p>Sensitive and allergic skin</p>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Property</h4>
        </div>
        <div class="grid-item col-value" id="block-14">
          <p>For very sensitive, irritated skin.</p>
          <p>
            Suitable for people suffering from more serious skin problems such as     
          psoriasis or eczema.
          </p>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Use</h4>
        </div>
        <div class="grid-item col-value" id="block-19">
          <ul>
            <li>Daily care</li>
            <li>Hydration</li>
            <li>Active hydro-liquid protection</li>
            <li>Soothes problem skin</li>
            <li>Actively soothes dry skin problems</li>
            <li>Restores the pH of the epidermis</li>
            <li>Anti stubborn dandruff</li>
          </ul>
        </div>

        <div class="grid-item table-head" id="block-5">
          <h4>Aleppo Soap 40% & 55% Laurel oil</h4>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Your Skin Type</h4>
        </div>
        <div class="grid-item col-value" id="block-10">
          <p>Hyper sensitive skin</p>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Property</h4>
        </div>
        <div class="grid-item col-value" id="block-15">
          <p>For hyper sensitive, irritated skin.</p>
          <p>
            With its high percentage of 40% bay laurel oil, our soap is designed     
          to provide optimal hydration and nourishment, making it suitable for
          hypersensitive skin, suffering from acne, eczema, psoriasis, scabs,
          dry skin, dandruff.
          </p>
        </div>
        <div class="grid-item col-label secondary">
          <h4>Use</h4>
        </div>
        <div class="grid-item col-value" id="block-20">
          <ul>
            <li>Daily care</li>
            <li>Hydration</li>
            <li>Active hydro-liquid protection</li>
            <li>Soothes problem skin</li>
            <li>Actively soothes dry skin problems</li>
            <li>Restores the pH of the epidermis</li>
            <li>Anti stubborn dandruff</li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-page.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "color",
        "id": "background_colour",
        "label": "Background Colour",
        "default": "transparent"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Banner Image"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}