{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding section-image-with-text" style="background-color:{{ section.settings.background_colour }};">
  <div class="page-width">
    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="image-with-text__grid grid grid--gapless grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          <div
            class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
            style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}>
            {%- if section.settings.image != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {%- endif -%}
              {{
                section.settings.image | image_url: width: 1500 | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
              }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div id="ImageWithText--{{ section.id }}" class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}">
            <div class="contact section-{{ section.id }}-padding">
              {%- if section.settings.phone != blank -%}
                <h4 class="title title-wrapper--no-top-margin inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  {{ section.settings.phone }}
                </h4>
              {%- endif -%}
              {%- if section.settings.email != blank -%}
                <h4 class="title title-wrapper--no-top-margin inline-richtext{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                  {{ section.settings.email }}
                </h4>
              {%- endif -%}
              {%- liquid
                assign contact_form_class = 'isolate'
                if settings.animations_reveal_on_scroll
                  assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
                endif
              -%}
              {%- form 'contact'
                , id: 'ContactForm'
                , class: contact_form_class -%}
                {%- if form.posted_successfully? -%}
                  <h2
                    class="form-status form-status-list form__message"
                    tabindex="-1"
                    autofocus>
                    {% render 'icon-success' %}
                    {{ 'templates.contact.form.post_success' | t }}
                  </h2>
                {%- elsif form.errors -%}
                  <div class="form__message">
                    <h2
                      class="form-status caption-large text-body"
                      role="alert"
                      tabindex="-1"
                      autofocus>
                      {% render 'icon-error' %}
                      {{ 'templates.contact.form.error_heading' | t }}
                    </h2>
                  </div>
                  <ul class="form-status-list caption-large" role="list">
                    <li>
                      <a href="#ContactForm-email" class="link">
                        {{ form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email }}
                      </a>
                    </li>
                  </ul>
                {%- endif -%}
                <div class="contact__fields">
                  <div class="field">
                    <input
                      class="field__input"
                      autocomplete="name"
                      type="text"
                      id="ContactForm-name"
                      name="contact[{{ 'templates.contact.form.name' | t }}]"
                      value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                      placeholder="{{ 'templates.contact.form.name' | t }}">
                    <label class="field__label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
                  </div>
                  <div class="field field--with-error">
                    <input
                      autocomplete="email"
                      type="email"
                      id="ContactForm-email"
                      class="field__input"
                      name="contact[email]"
                      spellcheck="false"
                      autocapitalize="off"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      aria-required="true"
                      {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="ContactForm-email-error"
                      {% endif %}
                      placeholder="{{ 'templates.contact.form.email' | t }}">
                    <label class="field__label" for="ContactForm-email">
                      {{- 'templates.contact.form.email' | t }}
                      <span aria-hidden="true">*</span>
                    </label>
                    {%- if form.errors contains 'email' -%}
                      <small class="contact__field-error" id="ContactForm-email-error">
                        <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                        <span class="form__message">
                          {%- render 'icon-error' -%}
                          {{- form.errors.translated_fields.email | capitalize }}
                          {{ form.errors.messages.email -}}
                        </span>
                      </small>
                    {%- endif -%}
                  </div>
                </div>
                <div class="field">
                  <input
                    type="tel"
                    id="ContactForm-phone"
                    class="field__input"
                    autocomplete="tel"
                    name="contact[{{ 'templates.contact.form.phone' | t }}]"
                    pattern="[0-9\-]*"
                    value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                    placeholder="{{ 'templates.contact.form.phone' | t }}">
                  <label class="field__label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
                </div>
                <div class="field">
                  <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}">
                    {{- form.body -}}
                  </textarea>
                  <label class="form__label field__label" for="ContactForm-body">
                    {{- 'templates.contact.form.comment' | t -}}
                  </label>
                </div>
                <div class="contact__button">
                  <button type="submit" class="button">
                    {{ 'templates.contact.form.send' | t }}
                  </button>
                </div>
              {%- endform -%}
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.contact-form.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "phone",
        "default": "Phone Number",
        "label": "Phone Number"
      },
      {
        "type": "inline_richtext",
        "id": "email",
        "default": "Email Address",
        "label": "Email Address"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          }, {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          }, {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "color",
        "id": "background_colour",
        "label": "Background Colour",
        "default": "transparent"
      }, {
        "type": "color",
        "id": "colour",
        "label": "Text Colour",
        "default": "#000000"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-with-text.settings.image.label"
      }, {
        "type": "select",
        "id": "height",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.image-with-text.settings.height.options__1.label"
          }, {
            "value": "small",
            "label": "t:sections.image-with-text.settings.height.options__2.label"
          }, {
            "value": "medium",
            "label": "t:sections.image-with-text.settings.height.options__3.label"
          }, {
            "value": "large",
            "label": "t:sections.image-with-text.settings.height.options__4.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.image-with-text.settings.height.label"
      }, {
        "type": "select",
        "id": "desktop_image_width",
        "options": [
          {
            "value": "small",
            "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
          }, {
            "value": "medium",
            "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
          }, {
            "value": "large",
            "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
          }
        ],
        "default": "medium",
        "label": "t:sections.image-with-text.settings.desktop_image_width.label",
        "info": "t:sections.image-with-text.settings.desktop_image_width.info"
      }, {
        "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "image_first",
            "label": "t:sections.image-with-text.settings.layout.options__1.label"
          }, {
            "value": "text_first",
            "label": "t:sections.image-with-text.settings.layout.options__2.label"
          }
        ],
        "default": "image_first",
        "label": "t:sections.image-with-text.settings.layout.label",
        "info": "t:sections.image-with-text.settings.layout.info"
      }, {
        "type": "select",
        "id": "desktop_content_position",
        "options": [
          {
            "value": "top",
            "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
          }, {
            "value": "middle",
            "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
          }, {
            "value": "bottom",
            "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
          }
        ],
        "default": "top",
        "label": "t:sections.image-with-text.settings.desktop_content_position.label"
      }, {
        "type": "select",
        "id": "desktop_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
          }
        ],
        "default": "left",
        "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
      }, {
        "type": "select",
        "id": "content_layout",
        "options": [
          {
            "value": "no-overlap",
            "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
          }, {
            "value": "overlap",
            "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
          }
        ],
        "default": "no-overlap",
        "label": "t:sections.image-with-text.settings.content_layout.label"
      }, {
        "type": "color_scheme",
        "id": "section_color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.multirow.settings.container_color_scheme.label",
        "default": "scheme-1"
      }, {
        "type": "header",
        "content": "t:sections.all.animation.content"
      }, {
        "type": "select",
        "id": "image_behavior",
        "options": [
          {
            "value": "none",
            "label": "t:sections.all.animation.image_behavior.options__1.label"
          }, {
            "value": "ambient",
            "label": "t:sections.all.animation.image_behavior.options__2.label"
          }, {
            "value": "zoom-in",
            "label": "t:sections.all.animation.image_behavior.options__4.label"
          }
        ],
        "default": "none",
        "label": "t:sections.all.animation.image_behavior.label"
      }, {
        "type": "header",
        "content": "Mobile layout"
      }, {
        "type": "select",
        "id": "mobile_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
          }, {
            "value": "center",
            "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
          }, {
            "value": "right",
            "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "left",
        "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
      }, {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "t:sections.contact-form.presets.name"
      }
    ]
  }
{% endschema %}